@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: "Roboto Slab", serif;
  --font-nav: "Roboto Slab", serif;
  --font-paragraph: "Roboto Condensed", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #660908;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

nav {
  font-family: var(--font-nav);
}

p {
  font-family: var(--font-paragraph);
}

/* .dropdown ul {
  animation: dropdownAnimation 0.3s ease-in-out forwards;
} */

.dropdown:hover ul {
  display: block !important;
}

.bg-image {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)), url("../../public/images/212962979_4156409141104678_6420393497855448392_n.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.school-name {
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.overlay {
  background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.facilities-nav-font {
  font-family: var(--font-paragraph);
}

.facilities-text {
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
  background-color: hsla(262, 79%, 21%, 0.5);
}

.facilities-transition:hover div {
  transform: translateY(0%);
}

.facilities-transition:hover img {
  transform: scale(1.1);
}

.extracurricular-card:hover .extracurricular-image {
  transform: scale(1.1);
  border-radius: 0;
}

.background-pattern {
  background: radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #660908 20%, #660908 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#da9408 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #da9408 0.8px, #660908 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.callto-action {
  background: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)), url("../../public/images/486479990_9469740553104817_3934133199728506919_n.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.footer {
  background: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)), url("../../public/images/486479990_9469740553104817_3934133199728506919_n.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.dropShadow {
  filter: drop-shadow(2px 2px 4px #333);
}

.customGradient {
  background: linear-gradient(to bottom, #da9408, #660908);
}

@keyframes dropdownAnimation {
  0% {
    opacity: 0.1 !important;
    /* height: 20% !important; */
  }

  50% {
    opacity: 0.5 !important;
    /* height: 50% !important; */
  }

  100% {
    opacity: 1 !important;
    /* height: 100% !important; */
  }
}
