@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: "Roboto Slab", serif;
  --font-nav: "Roboto Slab", serif;
  --font-paragraph: "Roboto Condensed", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #660908;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

nav {
  font-family: var(--font-nav);
}

p {
  font-family: var(--font-paragraph);
}

.hero {
  background: linear-gradient(hsla(40, 93%, 44%, 0.5), hsla(40, 93%, 44%, 0.4), hsla(262, 79%, 21%, 0.3));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.overlay {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5), hsla(262, 79%, 21%, 0.7));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.facilities-nav-font {
  font-family: var(--font-paragraph);
}

.facilities-text {
  transition: all 0.3s ease-in-out;
  transform: translateY(100%);
  background-color: hsla(262, 79%, 21%, 0.5);
}

.facilities-transition:hover div {
  transform: translateY(0%);
}

.facilities-transition:hover img {
  transform: scale(1.1);
}

.activity-card:hover .activity-image {
  transform: scale(1.1);
}
